@import url('https://fonts.googleapis.com/css2?family=Public+Sans&display=swap');

.com{
        color: hsl(233, 26%, 24%);
        color: hsl(136, 65%, 51%);
        color: hsl(192, 70%, 51%);
        color: hsl(233, 8%, 62%);
        color: hsl(220, 16%, 96%);
        color: hsl(0, 0%, 98%);
        color:hsl(0, 0%, 100%);
}

*{
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        font-size:18px;
        font-family: 'Public Sans', sans-serif;
}
nav{
        width:100%;
        padding: 50px;
        display : flex;
        justify-content:space-around;
        height: 90px;
       
}
.navMenu .navMenu-mobile{
        display : none;
        z-index: 100;
        position:absolute;
       
}
.navMenu ol{
        list-style: none;    
        display: inline;          
}
.navMenu .navMenu-desktop li{  
        margin:  0px 20px;   
        display: inline;  
        color:hsl(233, 8%, 62%);
}
.navMenu .navMenu-desktop li:hover{     
        color: black;
        box-sizing: content-box;
        border-width: 0 0 8px 0;
        border-style: solid;
        border-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        border-image-slice: 1;
        padding-bottom: 15px;
}

.invite{     
        float: right;
        display: inline;
        width: 180px;
        text-align: center;
        height: 40px;
        border-radius:30px;
        margin-top: -10px;
        background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}
.invite p {
        color: white;
        margin-top: 10px;
        
}
.navMenu-mobile-toggle{
        display: none;
}

.mobile{
        display:none;
}


.bg-intro-mobile{
        position:relative;
        width:80vw;
        overflow:hidden;
        float:right;
           
}

.bg-intro-mobile img{ 
        padding-left: 20vw;
        height: 90vh;  
        width:110vw;
        margin: -300px 0px auto;
}


.feature{
        padding-top: 80px;
        background-color: hsl(220, 16%, 96%);
        min-height: 600px;
}

.chooseEasybank{
        max-width:600px;
        text-align: center;
        margin: 90px auto auto 150px;
}
.chooseEasybank h1{
       
        font-size:30px;
}
.chooseEasybank p{
        padding-top: 20px;
        color: hsl(233, 8%, 62%);
}
.cardContainer{
        display:flex;
        justify-content:space-around;
        width:90%;
        margin-left: 5%;
}
.card{
        text-align: justify;
        margin-top:20px;
        width: 20vw;
        
}
.card p{
        color: hsl(233, 8%, 62%);
}
.card >*{
        padding: 5px;
}
.artical{
        margin: 0px;
        padding:100px;
        background-color:hsl(0, 0%, 98%);
}

.artical > h1{
        padding-left: 30px;
        font-size:50px;
        padding-bottom: 60px;

}
.articleCardContainer{
        display: flex;
        justify-content: space-around;
}

.articleCard{
        width:22%;
        min-height: 450px;
        background-color: hsl(0, 0%, 100%);;
}
.articleCard img{
        width:100%;
        height: 200px;
}

.articleCard h1{
        float: left;   
        font-size:20px;
        padding-top: 20px;
        padding-bottom: 20px;
}
.articleCard p{
        padding-top:10px;
        color: hsl(233, 8%, 62%); ;
}
.articleCard div{
        padding: 20px;
}

footer{
        
        height: 150px;
        background-color: hsl(233, 26%, 24%);
        display:flex;
        justify-content:space-around;
        color:white;
        
}
footer ul li{
        list-style: none;
}
.socialMedia> *{
        margin-top: 30px;
}

.socialMediaType ul li{
        display: inline;
}
.usefulLinks ul{
        margin-top: 30px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
       
}
footer .invitefooter >* {
        margin-top: 15px;
}
.invitefooter .requestInvite{
        font-size: 25px;
        background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        border-radius:30px;
        text-align: center;
        background-size: auto;
        padding:5px;
       
        margin: 15px auto;
        float: right;
}
.invitefooter{
        display: flex;
        flex-direction: column;
}
.invitefooter .copyright{
        font-size:20px;
}



@media only screen and (max-width: 750px){
        footer{
                height: 450px;
                flex-direction: column;
                text-align:center;
        }
        .usefulLinks ul{
                
                grid-template-columns: repeat(1, 1fr);

               
        }
}


@media only screen and (max-width: 920px) {
        .navMenu-mobile-toggle{
                margin-left: 50vw;
        }
        .bg-intro-mobile img{
                padding-left: 0px;
        }
        .navMenu-mobile{
                z-index: 100;
                margin: 6vw auto;
                width:80vw;             
                background-color: hsl(220, 16%, 96%);;
        }
        .navMenu .navMenu-desktop, nav .invite{
                display: none;
        }
        .navMenu-mobile span {
                position: relative;
                
        }
        .navMenu .container{               
                width:80vw;
                margin-left: -20vw;
        }
        .navMenu-mobile li{           
              padding: 15px;
              text-align: center;          
        }
        .navMenu-mobile-toggle  {
              display : flex;
              justify-content: flex-end;
              position: absolute;      
        }
        
        .hamburger{
                position: relative;
                margin-right: -10vw;
               
        }
        .close{
                margin-right: -4vw;
                display:none;
        }
        .bg-intro-mobile .desktop{
                display:none;
        }
        .mobile{
                display:block;
        }
        .bg-intro-mobile{
                margin-left: 10px;
                width: 100%;
        }
        
        .feature {
                display: block;
                margin-top:  -20vw;  
        }
        .easybank-content{
                padding:0vw;
                margin:60vw auto;
                width:90vw;
        }
        .feature{
                margin:3vw auto auto ;
        }
        .chooseEasybank{
                width:60vw;
                margin: 1vw auto auto 22vw;
        }
        .cardContainer, .articleCardContainer {
                
                flex-direction:column;
                margin: 10px auto;
        }
        .card{
               
                width:50vw;
                margin-left: 22vw;
                text-align:center;
        }
        .artical > h1{
                text-align:center;
        }
        .articleCard {
                width:50vw; 
                margin-left: 13vw;  
        }
        .articleCard div{
                width:50vw;
               
                text-align:center;
        }
        .articleCard img{
                width:50vw;
        }
        .artical{
                margin-top:-10px;
        }
        
}
@media only screen and (max-width: 700px) {
        .bg-intro-mobile img{
                padding-left: 0vw;
                height: 70vh;
                width: 110vw;
                margin: -40vw 0px auto;
        }      
        
}
@media only screen and (max-width: 550px) {
        .bg-intro-mobile img{
                padding-left: 0vw;
                height: 60vh;
                width: 110vw;
                margin: -40vw 0px auto;
        }      
        
        .hamburger{
                position: relative;
                margin-right: 3vw;
               
        }
        .close{
                margin-right: 3vw;
                display:none;
        }
        .navMenu-mobile{
                margin-left: -5vw;
        }
        .artical{
                padding:10vw;
                
        }
        .articleCard{
                width:60vw;
        }
        .articleCard img{
                width:60vw;
        }
        .articleCard div{
                width:60vw;            
                text-align:center;
        }
}

@media only screen and (max-width:400px) {
        .navMenu-mobile-toggle{
                margin-left: 42vw;
        }
        .logo img{
                margin-right: -35px;
        }
        .feature {
                margin: 5vw  auto auto;
        }
        .easybank-content{
                text-align: center;
        }
        .easybank-content h1{
                font-size:40px;
        }
        
        .easybank-content .invite {
        
                margin-left:-10vw;
         }
         .easybank-content .invite {
                margin-left: -18vw;
        }
        .bg-intro-mobile img{
                height :43vh;
        }
        .navMenu-mobile {
                margin-left: -5vw;
        }
        
}

.easybank-img{
        width: 100%;
        height: 500px;
        overflow:hidden;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
}
.easybank-content{
        width: 60%;
}
.mockups {
       
        background-image: url('images/bg-intro-desktop.svg');
        background-repeat: no-repeat;
        background-position: 10% 40%;
}
.mockups img{
        margin-top:-300px;
        margin-right:-100px;
}
.easybank-content {
        font-size:20px;
        margin: 10vw;

}
.easybank-content h1{
        font-size:1.6em;
        padding-top: 15px;
}
.easybank-content> p{
        padding-top: 15px;
        color:hsl(233, 8%, 62%);
}
.invite-easybank p{
        color: #fff;
        font-size: 25px;
        background-image: linear-gradient(to right,hsl(136, 65%, 51%), hsl(192, 70%, 51%));
        border-radius:30px;
        text-align: center;
        background-size: auto;
        margin: 15px auto;
        width:250px;
        float: left;
        
}

@media only screen and (max-width: 750px){
        .mockups{
                background-image: none;
                
        } 
        .easybank-img{
                
                display:flex;
                flex-direction: column-reverse;
                height: 600px
        }
        .mockups img {
                background-image: url('images/bg-intro-desktop.svg');
                background-repeat: no-repeat;
                background-position: 10% 40%;
                width: 100%;
        }
        .easybank-content {
                margin: 5vw 30vw auto;
            }
        .mockups{
                background-image: none;
                
        } 
        .easybank-img{
                
                display:flex;
                flex-direction: column-reverse;
                height: 800px
        }
        .mockups img {
                background-image: url('images/bg-intro-desktop.svg');
                background-repeat: no-repeat;
                background-position: 10% 40%;
                width: 100%;
        }
        .easybank-content {
                margin: 20vw;
        
        }

}
@media only screen and (max-width: 360px){
       
    .easybank-content p{
            width:180px;
            margin-left: -px;
    }

}
@media only screen and (min-width:510px)and  (max-width: 750px){
       
        .mockups{
                background-image: none;
                
        } 
        .easybank-img{
                
                display:flex;
                flex-direction: column-reverse;
                height: 800px
        }
        .mockups img {
                background-image: url('images/bg-intro-desktop.svg');
                background-repeat: no-repeat;
                background-position: 10% 40%;
                width: 100%;
        }
        .easybank-content {
                margin: 5vw 30vw auto;
        
        }
    
}

